
/*talha, huzaifa*/
@media  screen and(max-width: 320px) {
    label{
        display: none;
    }
}
body{
    padding: 0.2em;
}

@media screen and (max-width: 375px){
    label{
        display: none;
    }
}
@media screen and (max-width: 441px){
    /*pixel 2xl*/
    label{
        display: none;
    }
}
@media screen and (min-width: 665px){
    label{
        display: none;
    }
}
@media screen and (min-width: 667px){
    label{
        display: inline-block;
    }
}
.nav-bar-container{
    width: auto;
    margin: 10px 0px 0px 50px;
}
.top-nav-bar-div{
    margin-bottom: 10px;
}
.login-container{

    background-color: #f1f1f1;
    margin-top: -45px;
    padding: 50px;
    box-shadow: 5px 8px 8px #8888BA;
}

.marginleft{
    margin-left: 5rem;
}

.marginright{
    margin-left: -43px;
}
.login-input{
    /*border-radius: 2%;*/
    box-shadow: 2px 2px 8px #888888;
}
@media (max-width: 778px) {
    .nav-bar-container{
        margin: 10px 0px 0px 10px;
    }
}
@media (max-width: 730px) {
    .nav-bar-container {
        width: 50%;
    }
}
@media (max-width: 778px) {
    .nav-bar-container{
        margin: 10px 0px 0px 10px;
    }
}
.jumbotron-fluid{
    height: 400px;
}
.footer{
    width: auto;
    background-color: #6c757d;
    color: white;
    height: 350px;
    padding: 20px;
}
.footer-input{
    border-radius: inherit;
}
div.footer-jumbotron > h1{
    padding: 10px;
}
.nav-link{
    color: #6c757d;
}
div.footer > ul.nav-link :hover{
    color: #6c757d;
    background-color: white;
}
.footer-nav-links{
    color: gainsboro;
}
.footer-nav-links:hover{
    /*background-color: gainsboro;*/
    color: white;
}
div.footer-jumbotron > input{
    padding: 20px;
}
.footer-jumbotron{
    width: 680px;
    margin: auto;
}
div.footer-menu> ul>li> a{

    margin-left: 10px;
}
div.footer-socialmedia>i{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
/*.banner-image{*/
/*background-image: url("banner.jpg");*/
/*background-repeat: no-repeat;*/


.my_container {
    background-color: #f1f1f1;
    margin-top: -45px;

    margin-left: 80px;
    margin-right: 80px;
    padding-left: 40px;
    padding-right: 70px;
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 5px 8px 8px #8888BA;
}
.fontstyle{
    font-size: 1rem;
    font-weight: 300;
}
@media (max-width: 576px) {
    .my_container {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .my_container {
        max-width: 720px;

    }
}

@media (max-width: 992px) {
    .my_container {
        max-width: 960px;

    }
}

@media (max-width: 1200px) {
    .my_container {
        max-width: 1140px;

    }
}